.ad-top {
    background-color: $primary;
    height: 40px;
    width: 100%;
    display: flex;
    font: 400 12px / 20px 'Graphik', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    span {
        color: #FFF;
        &.ad-cta {
            text-decoration: underline;
            margin: 0 15px;
        }
    }
}