@font-face {
  font-family: "Graphik";
  src: url("../graphikregular-webfont.woff") format("woff"), url("../graphikregular-webfont.woff2"), format("woff2");
}
body {
  margin: 0;
  font-family: "Graphik", sans-serif;
}

a {
  text-decoration: none;
}

.ad-top {
  background-color: #1C1C1C;
  height: 40px;
  width: 100%;
  display: flex;
  font: 400 12px/20px "Graphik", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ad-top span {
  color: #FFF;
}
.ad-top span.ad-cta {
  text-decoration: underline;
  margin: 0 15px;
}

.navbar {
  display: flex;
  height: 80px;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  font: 400 14px/24px "Graphik", sans-serif;
}
.navbar .navbar-shop {
  display: flex;
  color: white;
}
.navbar .navbar-shop .logo {
  max-height: 50x;
  max-width: 100px;
  margin: 0 15px;
}
.navbar .navbar-shop .navbar-shop-link {
  margin: 0 15px;
}
.navbar .navbar-account {
  display: flex;
  color: black;
}
.navbar .navbar-account .navbar-account-link {
  margin: 0 15px;
}